<div class="container">
    <fluent-card>
        <article class="single-post">
            <h3><a href="#">Post 1</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
        <article>
            <h3><a href="#">Post 2</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
        <article class="single-post">
            <h3><a href="#">Post 3</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
        <article class="single-post">
            <h3><a href="#">Post 4</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
        <article class="single-post">
            <h3><a href="#">Post 5</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
        <article class="single-post">
            <h3><a href="#">Post 6</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
        <article class="single-post">
            <h3><a href="#">Post 7</a></h3>
            <div class="post-meta">
                <a class="post-author" href="#">Yuu</a>
                <a class="post-date">2021-10-12</a>
                <a class="post-category" href="#">Thinking</a>
            </div>
            <div class="post-content"></div>
            <div class="post-footer"></div>
        </article>
    </fluent-card>
</div>