<div class="container">
    <fluent-card>
        <article>
            <h3>
                <a href="#">Post 1</a>
            </h3>
        </article>
        <article>
            <h3>
                <a href="#">Post 2</a>
            </h3>
        </article>
        <article>
            <h3>
                <a href="#">Post 3</a>
            </h3>
        </article>
        <article>
            <h3>
                <a href="#">Post 4</a>
            </h3>
        </article>
        <article>
            <h3>
                <a href="#">Post 5</a>
            </h3>
        </article>
        <article>
            <h3>
                <a href="#">Post 6</a>
            </h3>
        </article>
        <article>
            <h3>
                <a href="#">Post 7</a>
            </h3>
        </article>
    </fluent-card>
</div>