<section class="headtab">
<fluent-switch id="header_switch">
    <span slot="checked-message">Night</span>
    <span slot="unchecked-message">Day</span>
    <label for="cap-switch">Theme:</label>
</fluent-switch>
<fluent-tabs activeid="entrees">
    <fluent-tab id="home_tab">Home</fluent-tab>
    <fluent-tab id="timeline_tab">Timeline</fluent-tab>
    <fluent-tab id="about_tab">About</fluent-tab>
    <fluent-tab-panel id="home_panel">
        <fluent-menu>
            <fluent-menu-item role="menuitemradio">Home Page</fluent-menu-item>
            <fluent-menu-item role="menuitemradio">Private Center</fluent-menu-item>
        </fluent-menu>
    </fluent-tab-panel>
    <fluent-tab-panel id="timeline_panel">
        <fluent-menu>
            <fluent-menu-item role="menuitemradio">2022</fluent-menu-item>
            <fluent-menu-item role="menuitemradio">2021</fluent-menu-item>
            <fluent-menu-item role="menuitemradio">2020</fluent-menu-item>
        </fluent-menu>
    </fluent-tab-panel>
    <fluent-tab-panel id="about_panel">
        <fluent-menu>
            <fluent-menu-item role="menuitemradio">Personal INFO</fluent-menu-item>
            <fluent-menu-item role="menuitemradio">Experience</fluent-menu-item>
            <fluent-menu-item role="menuitemradio">Contact Me</fluent-menu-item>
        </fluent-menu>
    </fluent-tab-panel>
</fluent-tabs>
</section>