<div class="rsidebar">
    <fluent-card>
        <fluent-menu>
            <fluent-menu-item>Friend Links</fluent-menu-item>
            <fluent-divider></fluent-divider>
            <fluent-menu-item><fluent-anchor href="#">Link 1</fluent-anchor></fluent-menu-item>
            <fluent-menu-item><fluent-anchor href="#">Link 2</fluent-anchor></fluent-menu-item>
            <fluent-menu-item><fluent-anchor href="#">Link 3</fluent-anchor></fluent-menu-item>
        </fluent-menu>
    </fluent-card>
</div>