<fluent-card>
    <fluent-menu>
      <fluent-menu-item><svg-icon name="menu-bar" [stretch]="true" [svgStyle]="{'width.px':20}"><button></button></svg-icon></fluent-menu-item>
      <fluent-menu-item role="menuitemradio">All Articles</fluent-menu-item>
      <fluent-menu-item role="menuitemradio">Collections</fluent-menu-item>
      <fluent-divider></fluent-divider>
      <fluent-menu-item>Categories</fluent-menu-item>
      <fluent-menu-item role="menuitemradio">Coding</fluent-menu-item>
      <fluent-menu-item role="menuitemradio">Living</fluent-menu-item>
      <fluent-menu-item role="menuitemradio">Thinking</fluent-menu-item>
      <fluent-divider></fluent-divider>
      <fluent-menu-item>Tags</fluent-menu-item>
      <fluent-menu-item role="menuitemcheckbox">Learning</fluent-menu-item>
      <fluent-menu-item role="menuitemcheckbox">Practices</fluent-menu-item>
      <fluent-menu-item role="menuitemcheckbox">Sharing</fluent-menu-item>
      <fluent-menu-item role="menuitemcheckbox">Reposted</fluent-menu-item>
    </fluent-menu>
  </fluent-card>