<fluent-card>
    <fluent-menu>
      <fluent-menu-item><svg-icon name="menu-bar" [stretch]="true" [svgStyle]="{'width.px':20}"><button></button></svg-icon></fluent-menu-item>
      <fluent-menu-item role="menuitemradio">All Articles</fluent-menu-item>
      <fluent-menu-item role="menuitemradio">Collections</fluent-menu-item>
      <fluent-divider></fluent-divider>
      <fluent-tree-view>
        <fluent-tree-item>
          Categories
          <fluent-tree-item *ngFor="let category of categoryItems">{{category}}</fluent-tree-item>
        </fluent-tree-item>
      </fluent-tree-view>
      <fluent-divider></fluent-divider>
      <fluent-tree-view>
        <fluent-tree-item>
          Tags
          <fluent-tree-item *ngFor="let tag of tagContents">{{tag}}</fluent-tree-item>
        </fluent-tree-item>
      </fluent-tree-view>
    </fluent-menu>
  </fluent-card>